@charset "UTF-8";
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─
/*─                                                                                      RESET
/*─
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none;
  /*─ Debug font size on iphone when landscape orientation ─*/
  -webkit-font-smoothing: subpixel-antialiased;
  /*─ Debug safari font weight when fixed element on the page ─*/
  -webkit-font-smoothing: antialiased;
  /*─ idem : Debug safari font weight when fixed element on the page ─*/
}

html,
body,
nav,
header,
footer,
div,
span,
h1,
h2,
h3,
p,
a,
img,
ul,
li,
table,
form,
label,
input,
textarea,
select,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

input,
textarea,
select,
button {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0;
  outline: none;
  border: none;
  background: none;
  color: inherit;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

input[type='submit']:hover,
button:hover {
  cursor: pointer;
}

input::-ms-clear {
  display: none;
  /*─ IE11 → remove cross to close ─*/
}

textarea {
  overflow: auto;
  /*─ Hide scroll bar on IE ─*/
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

img,
video,
svg,
picture {
  display: block;
}

img,
video {
  width: 100%;
  height: auto;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

:root {
  font-size: 16px;
  font-family: 'Montserrat Alternates' !important;
  font-style: normal !important;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  font-weight: normal;
}

html {
  width: 100%;
}

body {
  width: 100%;
}

#header {
  width: 100%;
}

#header .sub-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000000;
  color: #ffffff;
  height: 3rem;
  gap: 0.8rem;
}

#header .sub-header__item:not(:last-child) {
  border-right: 1px solid #ffffff;
  padding-right: 0.7rem;
}

#header .header-menu {
  width: 100%;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3rem 0 3rem;
}

#header .header-menu .logo {
  background-image: url(../../assets/img/autonoveoLogo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 10rem;
  height: 100%;
}

#header .header-menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  gap: 30px;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header .header-menu__items__item {
  line-height: 100%;
  color: #000000;
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}

#header .header-menu__items__item:hover {
  color: #90101f;
}

@media screen and (max-width: 700px) {
  .sub-header {
    font-size: 0.7rem;
  }
  .sub-header__item:nth-of-type(2) {
    display: none;
  }
}

.banner {
  width: 100%;
  height: 700px;
  position: relative;
}

.banner__slider {
  width: 100%;
  height: 100%;
}

.banner__slider__slide {
  width: inherit;
  height: inherit;
  position: relative;
}

.banner__slider__slide__bg-img {
  width: inherit;
  height: inherit;
  background-image: -webkit-gradient(linear, left top, right top, from(black), color-stop(32%, black), color-stop(67%, rgba(255, 255, 255, 0))), url("/assets/img/photo-1565043666747-69f6646db940.avif");
  background-image: linear-gradient(90deg, black 0%, black 32%, rgba(255, 255, 255, 0) 67%), url("/assets/img/photo-1565043666747-69f6646db940.avif");
  -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
          filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.banner__slider__slide__title {
  position: absolute;
  top: 35%;
  left: 20%;
  font-size: 3rem;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  position: absolute;
  top: 60%;
  left: 20%;
}

.banner__arrows__left {
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.banner__arrows__left svg {
  fill: #ffffff;
  margin: auto;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 300ms;
  transition: 300ms;
}

.banner__arrows__left:hover {
  border-color: #90101f;
}

.banner__arrows__left:hover svg {
  fill: red;
}

.banner__arrows__right {
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.banner__arrows__right svg {
  fill: #ffffff;
  margin: auto;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.banner__arrows__right:hover {
  border-color: #90101f;
}

.banner__arrows__right:hover svg {
  fill: red;
}

.banner__brands-slider {
  width: 100%;
  height: 5rem;
  background-color: #cdd2d9;
}

.banner__brands-slider__main-container {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  height: 100%;
  background: transparent;
  overflow: hidden;
}

.banner__brands-slider__main-container .brands-slider-arrow-left {
  height: 100%;
  width: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.banner__brands-slider__main-container .brands-slider-arrow-left svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.banner__brands-slider__main-container .brands-slider-arrow-right {
  height: 100%;
  width: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.swiper {
  width: 100%;
  height: 5rem;
}

.swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
}

.swiper .swiper-slide img {
  display: block;
  width: 5rem;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
/*# sourceMappingURL=style.css.map */