// ###############################
//     COLORS
// ###############################
$red: #90101f;
$red-opacity: rgba(120, 19, 32, 0.6);
$light-blue: #DFE4EA;
$white: #ffffff;
$white-opacity: rgba(255, 255, 255, .5);
$black: rgb(0, 0, 0);
$opacity-black: rgba(0, 0, 0, .6);
$medium-grey: #9b9b9b;
$light-grey: #F5F5F5;
$dark-grey: #1c1c1c;
// ###############################
//     HEADER VALUES
// ###############################
$sub-height: 3rem;
$header-menu: 5rem;
$burger-sqrt-size: 1.5rem;
$cross-sqrt-size: 2.12rem;