#footer {
    width: 100%;
    height: fit-content;
    padding: 1.5rem 4rem 1.5rem 4rem;
    background-color: $black;
    flex-wrap: wrap;
    .footer-top {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: .6rem;
        margin-bottom: 1.5rem;
        &__left {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 40%;
            min-width: 490px;
            height: 3.2rem;
            color: $white;
            &__logo-autonoveo {
                height: 100%;
                width: 37%;
                min-width: 200px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                position: relative;
                span {
                    width: 60%;
                    height: 50%;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: left center;
                }
                &__under-logo {
                    text-transform: uppercase;
                    font-size: $footer-font-size;
                }
                &::after {
                    content: '';
                    height: 100%;
                    width: 2px;
                    background-color: $white;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
            &__adress {
                text-transform: uppercase;
                &__line-1 {
                    font-size: $footer-font-size;
                }
                &__line-2 {
                    font-size: $footer-font-size;
                }
            }
            &__contact-us {
                &__link {
                    font-size: $footer-font-size;
                    text-transform: uppercase;
                    font-family: 'palanquin';
                }
                &__phone {
                    font-size: $footer-font-size;
                }
            }
        }
        &__right {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 40%;
            min-width: 550px;
            height: 3.2rem;
            color: $white;
            &__logo-voptimum {
                height: 100%;
                width: 30%;
                min-width: 180px;
                position: relative;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: left center;
                &::after {
                    content: '';
                    height: 100%;
                    width: 2px;
                    background-color: $white;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
            &__logo-autonoveo {
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                max-width: 20%;
                min-width: 6rem;
                height: 50%;
            }
            &__logo-avis {
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                max-width: 20%;
                min-width: 6rem;
                height: 50%;
            }
            &__logo-speedy {
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                max-width: 20%;
                min-width: 6rem;
                height: 50%;
            }
        }
    }
    .footer-bottom {
        max-width: 50%;
        margin: auto;
        height: fit-content;
        justify-content: space-between;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        color: $medium-grey;
        position: relative;
        flex-wrap: wrap;
        &__left {
            width: 40%;
            min-width: 240px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            &__logo-autonoveo {
                min-width: 90px;
                position: relative;
                flex: 1;
                span {
                    font-weight: 600;
                }
                &::before {
                    content: '©';
                    color: $medium-grey;
                    width: .8rem;
                    aspect-ratio: 1;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: translate(-150%, 8%);
                }
                &::after {
                    content: '';
                    width: 2px;
                    height: 100%;
                    background-color: $medium-grey;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
            &__ment-leg {
                min-width: 110px;
                text-align: end;
                position: relative;
                font-family: 'Palanquin';
                text-transform: capitalize;
                flex: 1.2;
            }
        }
        &__right {
            width: 40%;
            min-width: 360px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &__pol-conf {
                min-width: 120px;
                position: relative;
                font-family: 'Palanquin';
                text-transform: capitalize;
                flex: 1;
                &::after {
                    content: '';
                    width: 2px;
                    height: 100%;
                    background-color: $medium-grey;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
            &__eanet {
                min-width: 120px;
                flex: 1;
                text-align: end;
                span {
                    text-transform: uppercase;
                }
            }
        }
        &::after {
            content: '';
            width: 2px;
            height: 100%;
            background-color: $medium-grey;
            position: absolute;
            top: 0;
            left: 50%;
        }
    }
}

@media screen and (max-width: 1177px) {
    #footer {
        .footer-top {
            justify-content: center;
            gap: 2rem;
        }
    }
}

@media screen and (max-width: 625px) {
    #footer {
        .footer-top {
            display: none;
        }
    }
}