%big-content {
    font-family: 'Palanquin';
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    color: $medium-grey;
}

%content {
    font-family: 'Palanquin';
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: $black;
}

%important-content {
    font-family: 'Palanquin';
    font-weight: 600;
    font-size: 18px;
    line-height: 19px;
    letter-spacing: 0.5;
    color: $black;
}

%links {
    font-family: 'Palanquin';
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    position: relative;
    &:before {
        content: '';
        width: 100%;
        height: 3px;
        background-color: $black;
        position: absolute;
        bottom: -1rem;
        margin-top: 1rem;
    }
}

%h1-core-style {
    font-family: 'Montserrat Alternates';
    font-weight: 600;
    font-size: clamp(25px, 2.7vw, 60px) !important;
    color: $black;
}

%red-hover {
    &:hover {
        background-color: $red;
    }
}