// ###############################
//     COLORS
// ###############################

$red: #90101f;
$light-blue: #DFE4EA;
$white: #ffffff;
$black: #000000;
$medium-grey: #9b9b9b;
$light-grey: #F5F5F5;
$dark-grey: #1c1c1c;

// ###############################
//     HEADER VALUES
// ###############################

$sub-height: 3rem;
$header-menu: 5rem;

$burger-sqrt-size: 1.5rem;
$cross-sqrt-size: 2.12rem;