// ############################
// SECOND ARTICLE
// #############################


#second-article{
    display: flex;
}
#content-articles-text-two{
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-articles-text-two div{
    width: 541px;
}
// #content-articles-text-two p{
//     width: 90%;
// }

/* #box-in-articles-lld-two-img{
    background-image: url('../assets/location-longue-duree-entreprises_590x410.jpg');
    height: 410px;
    width: 590px;
    background-size: contain;
    background-repeat: no-repeat;
} */

// #second-article-img{
//     background-image: url('../assets/vehicules-occasion-recent_680x410.jpg');
//     width: 650px;
//     height: 410px;
//     background-size: contain;
//     background-repeat: no-repeat;
// }

#box-in-second-articles-lld{
    height: 365px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#box-in-second-articles-lld div {
    margin-left: 80px;
}
#box-in-second-articles-lld p{
    font-weight: bold;
    display: inline;
    border-bottom: 2px solid black;
    padding-bottom: 8px;
}
#box-in-second-articles-lld h2{
    font-size: 60px;
    font-weight: 10;
}


// responsive design 

@media screen and(max-width: 1400px){
    #second-article{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #second-article-img{
        margin-top: 30px;
        max-height: 392px;
    }
    #box-in-second-articles-lld{
        text-align: center;
        width: 100%;
     }
    #box-in-second-articles-lld h2{
         width: 100%;
    }
    #box-in-second-articles-lld div{
         margin-left: 0px;
    }

    #content-articles-text-two div{
        width: 650px;
    }
}

@media screen and(max-width: 900px){
    #second-article-img{
        margin-top: 30px;
        width: 550px !important;
        height: 332px !important;
    }
    #box-in-second-articles-lld{
        text-align: left;
        justify-content: space-evenly;
        max-width: 90%;
    }

    #box-in-second-articles-lld h2{
        font-size: 50px;
    }
    .box-in-articles-lld{
        justify-content: space-evenly;
        text-align: left;
        margin-left: 100px;
        max-width: 90%;
    }
    #content-articles-text-two{
        width: 75%;
    }
}



@media screen and(max-width: 600px){
    #box-in-second-articles-lld h2{
        font-size: 42px;
    }
    #box-in-second-articles-lld{
        padding-left: 11%;
    }
    #content-articles-text-two{
        padding-left: 20px;
        justify-content: flex-start;
    }
    #content-articles-text-two div{
        width: 90%;
    }
    #second-article-img{
        width: 100% !important;
        height: 299px !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
    }
}

