// ##########################
// THIRD ARTICLE
// ##########################

#third-article{
    display: flex;
    margin-top: 50px;
    width: 100%;
}

/* BLOCK LEFT */

// #third-article-box-contact{
//     background-image: url('../assets/conseil-LLD-entreprises_655x750.jpg');
//     height: 750px;
//     min-width: 655px;
//     background-repeat: no-repeat;
//     display: flex;
//     justify-content: flex-end;
//     align-items: center;
// }
#third-article-box-contact-content{
    width: 80%;
    height: 280px;
    background-color: rgba(120, 19, 32, 0.6);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#third-article-box-contact-text-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
    width: 90%;
}
#third-article-box-contact-text-content p{
    color: white;
}
#third-article-box-contact-text-content a{
    display: inline;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

#third-article-box-contact-text-content-p{
    font-size: 20px;
}
/* FIN BLOCK LEFT */


#third-article-box-right{
    padding: 35px;
    min-width: 1265px;
}
#third-article-box-right-title-content{
    text-align: center;
}
#third-article-box-right-title-content p{
    font-size: 15px;
}
#third-article-box-right-title-content h2{
    font-size: 60px;
    margin-top: 10px;
    font-weight: 10;
}
#third-article-box-right-step-content{
    display: flex;
    width: 100%;
    margin-top: 30px;
}
#third-article-box-right-step-content-one-two{
    width: 50%;
}
#third-article-box-right-step-content-three-four{
    width: 50%;
}
.four-step-chose-autonoveo{
    height: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    // justify-content: flex-end;
}
.four-step-chose-autonoveo p{
    margin: 8px;
}
.four-step-chose-autonoveo-number{
    font-size: 50px;
    color: #90101F;
    font-weight: bold;
}

// RESPONSIVE DESIGN

// @media screen and(max-width: 1500px){
//     #third-article{
//         flex-direction: column;
//         align-items: center;
//         margin-top: 0px;
//     }
//     #third-article-box-right-step-content{
//         flex-direction: column;
//         align-items: center;
//     }
//     #third-article-box-contact-content{
//         width: 100%;
//     }
//     .four-step-chose-autonoveo{
//         height: auto;
//     }
// }
// @media screen and(max-width: 1400px){
//     #third-article-box-contact{
//         min-width: 650px !important;
//     }
// }

@media screen and(min-width: 600px)and(max-width:1920px){
        #third-article{
        // flex-direction: column;
        align-items: center;
        margin-top: 0px;
    }
    #third-article-box-contact{
        width: 100% !important;
        background-size: cover;
    }
    #third-article-box-right-step-content-one-two{
        width: 100%;
    }
    #third-article-box-right-step-content-three-four{
        width: 100%;
    }
    #third-article-box-contact-text-content p{
        font-size: 27px;
    }
    .four-step-chose-autonoveo{
        width: 470px;
    }
}

@media screen and(max-width: 900px){
    #third-article{
        flex-direction: column;
    }
}

// @media screen and(max-width: 800px){
//     #third-article-box-contact{
//         min-width: 650px;
//     }
// }

@media screen and(max-width: 600px){
    #third-article{
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
        max-width: 600px;
    }
    #third-article-box-contact{
        height: 459px !important;
        width: 100% !important;
        background-size: cover !important;
        

    } 
    #third-article-box-right{
        min-width: 100% !important;
    }
    #third-article-box-right-step-content{
        flex-direction: column;
    }
    #third-article-box-right-step-content-one-two{
        width: 100%;
    }
    #third-article-box-right-step-content-three-four{
        width: 100%;
    }
}