.lld-first {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;

    &__bg-container {
        width: 100%;
        height: 500px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__offer {
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        width: 100%;
        height: fit-content;
        margin-top: -5rem;
        margin-bottom: 3rem;

        &__left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: $white;
            width: 45%;
            height: 550px;
            padding: 3rem 3rem 2rem 3rem;

            .sub-title {
                text-transform: uppercase;
            }

            .descs {
                margin-bottom: 2rem;

                *:not(:last-child) {
                    margin-bottom: 1rem;
                }

                &__desc {
                    span {
                        font-weight: 600;
                    }
                }

                &__about-us {
                    width: fit-content;
                    @include links-underline($black);
                }
            }
        }

        &__right {
            width: 300px;
            height: fit-content;
            margin-left: 7rem;

            &__line {
                position: relative;

                &__1 {
                    text-transform: uppercase;
                    font-weight: 600;
                }

                &:before {
                    content: '';
                    background-image: url('/assets/img/noun-check-box-858499.png');
                    background-size: cover;
                    background-repeat: no-repeat;
                    height: 100%;
                    aspect-ratio: 1 / 1;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: translateX(-130%);
                }
            }

            &__line:not(:last-child) {
                margin-bottom: 1rem;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .lld-first {
        &__bg-container {
            height: 400px;
        }

        &__offer {
            display: flex;
            flex-direction: column !important;
            width: 100% !important;
            height: fit-content;

            &__left {
                width: 90%;
                height: fit-content;
            }

            &__right {
                width: fit-content;
                height: 300px;
                align-self: center;
                margin-left: 2;
            }
        }
    }
}