.optimisation {
    width: 100%;
    height: 900px;

    &__container {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "optimisation__container__speedometer optimisation__container__title-core optimisation__container__title-core"
            "optimisation__container__speedometer optimisation__container__good-choice optimisation__container__3-lines"
            "optimisation__container__needs-priority optimisation__container__needs-priority optimisation__container__guy";

        &__speedometer {
            grid-area: optimisation__container__speedometer;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        &__title-core {
            grid-area: optimisation__container__title-core;
            width: 100%;
            margin-left: auto;
            padding-left: 4rem;
            padding-right: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &__h {
                margin: 0 1rem 1rem 0;
            }

            &__contact-us {
                width: fit-content;
                @include links-underline($black);
            }
        }

        &__good-choice {
            grid-area: optimisation__container__good-choice;
            display: flex;
            gap: 1rem;
            flex-direction: column;
            justify-content: space-evenly;
            background-color: $red;
            color: $white;
            padding: 2rem 3rem 2rem 4rem;

            &__top {
                &__title {
                    color: $white !important;
                    @extend %content;
                    font-weight: 600;
                    margin-bottom: 1rem;
                }
            }

            &__bot {
                &__title {
                    color: $white !important;
                    @extend %content;
                    font-weight: 600;
                    margin-bottom: 1rem;
                }
            }
        }

        &__3-lines {
            grid-area: optimisation__container__3-lines;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-around;
            padding: 1.5rem 0 1.5rem 0;

            &__line {
                background-color: $opacity-black;
                color: $white;
                text-transform: uppercase;
                font-weight: 600;
                width: 80%;
                padding: .8rem 0 .8rem 3rem;
            }
        }

        &__needs-priority {
            grid-area: optimisation__container__needs-priority;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 0 3rem 0 3rem;
            gap: 2rem;

            &__h {
                flex: 1;
            }

            &__desc {
                flex: 1;
            }
        }

        &__guy {
            grid-area: optimisation__container__guy;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

}

@media screen and (max-width: 800px) {
    .optimisation {
        height: 1800px !important;

        &__container {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-areas:
                "optimisation__container__speedometer"
                "optimisation__container__title-core"
                "optimisation__container__good-choice"
                "optimisation__container__3-lines"
                "optimisation__container__needs-priority"
                "optimisation__container__guy";

            &__title-core {
                width: 100% !important;
                margin: 0 !important;
                padding-left: 1rem !important;

                &__h {
                    padding: 0 !important;
                    margin-bottom: 1rem;
                }

                &__contact-us {
                    margin-left: 0 !important;
                }
            }

            &__good-choice {
                padding: 2rem 1rem 2rem 1rem !important;
            }

            &__needs-priority {
                flex-direction: column;
                padding: 2rem 1rem 2rem 1rem;
                gap: 0;

                &__h {
                    flex: 0;
                }

                &__desc {
                    flex: 0;
                    height: fit-content;
                }
            }

        }
    }
}