.works {

    .title-block {
        width: 45%;
        margin: 3rem auto;

        &__sub-title {
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 3rem;
        }

        &__title {
            text-align: center;

            span {
                font-weight: 600;
            }
        }
    }

    .cards {
        display: flex;
        justify-content: space-around;
        max-width: 1160px;
        flex-wrap: wrap;
        margin: auto;

        &__card {
            width: calc(1160px/4);
            height: 110px;
            padding: 1rem 2rem 0 2rem;
            position: relative;
            margin-bottom: 1.5rem;

            &::after {
                content: '';
                width: .7rem;
                height: .7rem;
                border-radius: 50%;
                background-color: $red;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 50%);
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .title-block {
        width: 80% !important;
    }

    .cards {
        &__card {
            width: 380px !important;
            height: 90px !important;
        }
    }
}