.swiper {
    width: 100%;
    height: 5rem;
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        img {
            display: block;
            width: 5rem;
            height: 100%;
            object-fit: contain;
        }
    }
}