.why-autonoveo {
    width: 100%;
    margin-top: 2rem;
    .nb-boxes {
        width: 60%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        &__left {
            display: flex;
            gap: 5rem;
            margin: 1rem 0 1rem 0;
            &__box {
                display: flex;
                flex-direction: column;
                .counter {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    span {
                        color: $medium-grey;
                        font-size: clamp(35px, 3vw, 60px);
                        font-weight: 600;
                        line-height: inherit;
                    }
                }
                .counter-text {
                    text-align: center;
                     :first-child {
                        font-weight: 800;
                        padding-right: .7rem;
                        position: relative;
                        &::before {
                            content: '';
                            background-color: $black;
                            width: 2px;
                            height: 1.2rem;
                            position: absolute;
                            right: 0;
                        }
                    }
                     :last-child {
                        padding-left: .7rem;
                    }
                }
            }
        }
        &__right {
            display: flex;
            gap: 5rem;
            margin: 1rem 0 1rem 0;
            &__box {
                display: flex;
                flex-direction: column;
                align-items: center;
                .counter {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    span {
                        color: $medium-grey;
                        font-size: clamp(35px, 3vw, 60px);
                        font-weight: 600;
                        line-height: inherit;
                    }
                }
                .counter-text {
                    text-align: center;
                     :first-child {
                        font-weight: 800;
                        padding-right: .7rem;
                        position: relative;
                        &::before {
                            content: '';
                            background-color: $black;
                            width: 2px;
                            height: 1.2rem;
                            position: absolute;
                            right: 0;
                        }
                    }
                     :last-child {
                        padding-left: .7rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .nb-boxes {
        width: 80% !important;
        &__right {
            gap: 2rem !important;
        }
        &__left {
            gap: 2rem !important;
        }
    }
}